{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Página de inicio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et asperiores cum, culpa, dignissimos quisquam ex dolorem blanditiis eveniet obcaecati optio quae placeat deserunt neque animi deleniti dolores numquam voluptates architecto illum doloremque voluptatum corporis? Reprehenderit cum harum et ab aut dignissimos odio fugiat numquam magni eos quos necessitatibus quidem quo vitae aperiam aliquid, officiis sint reiciendis alias. Unde corporis ut adipisci laudantium quaerat quis excepturi necessitatibus consequatur fugit, omnis perferendis quia earum, placeat aliquam! Beatae eum earum optio adipisci dignissimos ipsa recusandae aliquid aliquam sequi perspiciatis libero incidunt quo magnam officiis architecto, velit nam similique, rerum minima eius maxime vero!</p>

        <div class="text-center">
            <a href="/signin/" class="btn btn-primary">
                Ingresar
            </a>
            <a href="/signup/" class="btn btn-primary">
                Registrarse
            </a>
        </div>
    </section>
</main>

{% endblock %}
<!-- PROBANDO LA RAMIFICACIÓN -->
<!-- nuevamente -->